body {background: #add8e6;}
a {outline:none;}

.entry {
  width: 710px;
  background: #ffffff;
  padding:8px;
  border:1px solid #ffffff;
  margin:5px auto;
  -moz-border-radius:8px;}

span.link a {
  font-size:150%;
  color: #000000;
  text-decoration:none;
  }
a.vote_up, a.vote_down {
  display:inline-block;
  background-repeat:none;
  background-position:center;
  height:16px;
  width:16px;
  margin-left:4px;
  text-indent:-900%;
  }
a.vote_up {
  background:url("up.png");
  }
a.vote_down {
  background:url("down.png");
}